* {
    margin: 0;
    padding: 0;
    color: #007185;
}
a {
    text-decoration: none;
}
/*=============================
HEADER
=============================*/
header {
    display: block;
}

header .nav-container-top{
    display: flex;
    margin: 20px 0;
}

header .logo h1{
    display: flex;
    font-size: 2em;
}

.nav-right {
    display: flex;
}


/*=============================
MAIN
=============================*/

/*=============================
MODAL
=============================*/
main section .container-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sub-container{
    margin: 0 20px;
}

.product img {
    width: 200px;
}

main section .container-background {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

main section .container-background.active{
    opacity: 1;
    visibility: visible;
}

main section .sub-container-background {
    background: white;
    display: block;
    width: 600px;
    height: 200px;
}

.sub-container-background .cep .add-cep #erroMessage{
    color: red;
}

/*=============================
PAGINA NAO ENCONTRADA
=============================*/
.pesquisa-nao-encontrada.active{
    opacity: 1;
    visibility: visible;
}

.pesquisa-nao-encontrada {
    display: block;
    opacity: 0;
    visibility: hidden;
}

/*=============================
FOOTER
=============================*/