body {
    background: var(--white-grey);
}

main {
    display: grid;
    grid-template-columns: repeat(2,auto);
    
    height: 100vh;
}

.container-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2.5rem;
}

.container-cadastro .main-cadastro {
    background-color: var(--white);
    
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
}

.container-cadastro .main-cadastro .title-cadastro {
    display: flex;
    justify-content: center;

    color: var(--blue-light);
}

.container-cadastro .main-cadastro #form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    height: 40px;

    border-radius: 0.25rem;
    margin: 5px 0;
    padding-left: 1rem;

    background-color: var(--white-grey);
    color: var(--blue-light);
    font-weight: bold;
    font-size: 1rem;
}

#erro-mensagem {
    color: var(--red);
}

.container-cadastro .main-cadastro .cadastro-text {
    display: flex;
    justify-content: center;

}

.container-cadastro .main-cadastro .cadastro-text .cadastro-p {
    width: 18rem;

    font-size: 0.8rem;
}

.container-cadastro .main-cadastro .cadastro-text .cadastro-p .cadastro-link {
    color: var(--blue-light);

    cursor: pointer;
}

.container-cadastro .main-cadastro .background-submit {
    display: flex;
    justify-content: center;

    padding-top: 20px;
}

input#input-button {
    background-color: var(--blue-light);

    color: var(--white);

    padding: 0;

    cursor: pointer;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--blue-light);
}

.container-title .main-title {
    width: 22rem;
}

.container-title .main-title .one-title {
    margin: 2.5rem 0;

    font-size: 2rem;
}

.container-title .main-title .two-title {
    margin-bottom: 40px;
}

.container-title .main-title .link-title .a-title {
    color: var(--blue-light);
    
    font-weight: 900;
    font-size: 0.8rem;

    display: flex;
}

.container-title .main-title .link-title .a-title::before {
    content: "";
    background-color: var(--blue-light);
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;

    clip-path: polygon(0% 48%, 92% 48%, 60% 0%, 100% 50%, 60% 100%, 92% 53%, 0% 53%);
}

@media (max-width: 768px) {
    
    html {
        min-width: 367px;
    }

    main {
        display: flex;
        flex-direction: column-reverse;

        height: auto;
    }
}