body {
    background-color: var(--white-light);
    color: var(--blue-light);
}

#car img{
    width: 100%;
}

#car p {
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: bold;

    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.shopping-cart{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 1rem;

    margin: 20px 20px 0 20px;
}

.shopping-cart .container {
    background-color: var(--white);
    
    margin-bottom: 10px;
}

.shopping-cart .container .header-background {    
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid var(--white-light);
}

.shopping-cart .container .header-background .header-cart,
.shopping-cart .container .header-background .header-price {
    padding: 10px;
}

.shopping-cart .container .header-background .header-cart h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.shopping-cart .container .item-products .item-product {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 1rem;

    padding: 1rem;
}

.shopping-cart .container .item-products .item-product .product-left {
    display: flex;

    border-bottom: 2px solid var(--white-light);
}

.shopping-cart .container .item-products .item-product .product-left .item-left img {
    width: 200px;
}

.shopping-cart .container .item-products .item-product .product-left .item-center #nome {
    font-weight: 600;
}

.shopping-cart .container .item-products .item-product .product-left .item-center .estoque.on,
.shopping-cart .container .item-products .item-product .product-left .item-center .estoque.off {
    font-weight: 500;

    padding: 10px 0;
}

.shopping-cart .container .item-products .item-product .product-left .item-center .estoque.on {
    color: var(--green);
}

.shopping-cart .container .item-products .item-product .product-left .item-center .estoque.off {
    color: var(--red);
}

.shopping-cart .container .item-products .item-product .product-left .item-center .buttons {
    display: flex;
}

.hidden-input {
    display: none;
}

.shopping-cart .container .item-products .item-product .product-left .item-center .buttons .button-qnt {
    width: 20px;
    height: 20px;

    color: var(--blue-light);

    border-radius: 50%;
    margin: 0 10px;
    
    cursor: pointer;
}

.shopping-cart .container .item-products .item-product .product-left .item-center .buttons .button-qnt + .button-qnt{
    margin: 0 0 0 10px;
}

.shopping-cart .container .item-products .item-product .product-left .item-center .buttons .delete-button {
    background: none;

    margin-left: 20px;

    cursor: pointer;
}

.shopping-cart .container .item-products .item-product .product-left .item-center .buttons .delete-button img {
    width: 20px;
}

.shopping-cart .container .item-products .item-product .product-right {
    border-bottom: 2px solid var(--white-light);
}

.shopping-cart .container .item-products .item-product .product-right .item-right .price {
    font-weight: bold;
    font-size: clamp(12px, 3vw, 1rem);
}

.shopping-cart .total-background {
    width: 300px;
    height: 100px;

    background-color: var(--white);
    
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

.shopping-cart .total-background .total-sub {
    width: inherit;
    height: inherit;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--green);

    font-weight: bold;
}

/*=================================
responsive
=================================*/
@media (max-width: 1000px){
    .shopping-cart {
        display: flex;
        flex-direction: column-reverse;
    }

    .shopping-cart .container .item-products .item-product .product-left {
        display: initial;
    }

    .shopping-cart .container .item-products .item-product .product-left .item-left img {
        width: 100%;
    }

    .shopping-cart .total-background {
        width: initial;
    }
}
