main {
    background: #e5e5e5;

    display: grid;
    grid-template-columns: auto auto;

    font-family: 'Montserrat', sans-serif;
}


.container-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sub-container{
    margin: 0 20px;
}

.product img {
    width: 200px;
}

/*CARDS*/
.cards {
    padding: 30px 0 0 0;
}
.sub-container {
    background: white;

    height: 350px;

    border-radius: 0.5rem;

    position: relative;
}
.product {
    display: flex;
    justify-content: center;

    padding: 30px 0;
}
.description-product {
    padding: 0 10px;

    color: #007185;
}
.share-product {
    position: absolute;
    top: 10px;
    right: 10px;
}
.value-product {
    padding: 10px 0 0 10px;

    color: #007185;
}
/*FIM CARDS*/

/*=================================
responsive
=================================*/
@media (max-width: 830px) {
    .container-photos {
        display: flex;
        flex-direction: column;
    }
    .sub-container {
        margin: 0 0 30px 0;
    }
}