/*FILTER NOTEBOOK*/
.filter {
    padding: 10px 10px 0 10px;
    border-right: 1px solid white;
}
#marcas {
    border-bottom: 1px solid white;
    margin: 10px 0;

    color: #007185;
}
.marcas-title {
    margin: 0 0 10px 0;
}
#price {
    border-bottom: 1px solid white;
    margin: 10px 0;

    color: #007185;
}
.price-title {
    margin: 0 0 10px 0;
}
#ul-SO {
    border-bottom: 1px solid white;
    margin: 10px 0;

    color: #007185;
}
.so-title {
    margin: 0 0 10px 0;

    color: #007185;
}
#ul-cpu {
    border-bottom: 1px solid white;
    margin: 10px 0;

    color: #007185;
}
.cpu-title {
    margin: 0 0 10px 0;

    color: #007185;
}
#ul-RAM {
    border-bottom: 1px solid white;
    margin: 10px 0;

    color: #007185;
}
.ram-title {
    margin: 0 0 10px 0;

    color: #007185;
}
#ul-HD {
    border-bottom: 1px solid white;
    margin: 10px 0;

    color: #007185;
}
.hd-title {
    margin: 0 0 10px 0;

    color: #007185;
}
#ul-tela {
    border-bottom: 1px solid white;
    margin: 10px 0;

    color: #007185;
}
.tela-title {
    margin: 0 0 10px 0;

    color: #007185;
}
/*FIM FILTER NOTEBOOK*/


/*FILTER CAMISA*/
#cores {
    border-bottom: 1px solid white;
    margin: 10px 0;

    color: #007185;
}
.cores-title {
    margin: 0 0 10px 0;

    color: #007185;
}
#tamanhos {
    border-bottom: 1px solid white;
    margin: 10px 0;

    color: #007185;
}
.tamanhos-title {
    margin: 0 0 10px 0;

    color: #007185;
}
/*FIM FILTER CAMISA*/