footer {
    background-color: var(--blue);
}

footer .conheca ,
footer .afiliados,
footer .termos {
    border-bottom: 1px solid var(--blue-dark);
    padding: 1rem 0;
}

footer .conheca .conheca-text {
    padding-top: 1rem;
}

footer .conheca .conheca-title ,
footer .conheca .conheca-text p,
footer .afiliados .afiliados-logo,
footer .afiliados .afiliados-text,
footer .termos .condicoes,
footer .termos .cnpj,
footer .termos .location,
footer .termos .cards  {
    color: var(--white-grey);

    display: flex;
    justify-content: center;
}

.afiliados-text {
    font-size: 14px;
}