body {    
    background-color: var(--white-grey);
}

.login-background {
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(2,auto);
}

.login-background .display-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-background .display-login .title-text{
    color: var(--blue-light);

    font-size: 2rem;
    font-weight: bold;
}

.login-background .display-login .login-main {
    width: 500px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);

    border-radius: 0.5rem;
}

.login-background .display-login .login-main #form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: 300px;
    height: 40px;

    border-radius: 0.25rem;
    margin: 5px 0;
    padding-left: 1rem;

    background-color: var(--white-grey);
    color: var(--blue-light);
    font-weight: bold;
    font-size: 1rem;
}

#mensagem {
    color: var(--red);
}

.login-background .display-login .login-main .submit {
    margin-top: 20px;
}

.login-background .display-login .login-main .submit #input-submit {
    width: 320px;
    
    margin: 0;
    padding: 0;

    background-color: var(--blue-light);
    color: var(--white-grey);
}

.login-registrar {
    color: var(--blue-light);

    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.login-background .display-login .login-main .login-registrar a {
    color: var(--blue-light);
    text-decoration: underline;

    margin-left: 5px;
}


/*=================================
responsive
=================================*/
@media (max-width: 880px) {
    .login-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-background .display-login {
        padding: 10px 0;
    }

    .login-background .display-login .login-main {
        width: auto;
        height: auto;

        padding: 1rem;
    }

    .inputs {
        width: auto;
    }

    .login-background .display-login .login-main .submit {
        display: flex;
        justify-content: center;
    }

    .login-background .display-login .login-main .submit #input-submit {
        width: auto;

        padding: 10px 20px;
    }
}