.filter {
    padding: 10px 10px 0 10px;
    border-right: 1px solid var(--white);
}

.filter .filter-content {
    border-bottom: 1px solid var(--white);
    margin: 10px 0;

    color: var(--blue-light);
}

.filter .content-title {
    margin-bottom: 10px;

    font-weight: bold;
}