/********MODAL CEP********/
.container-background {
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: var(--grey-black);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-background .sub-container-background {
    width: 600px;
    height: 200px;

    background-color: var(--white-grey);
    color: var(--blue-light);
    
    border-radius: 0.5rem;
}

.container-background .sub-container-background .cep .cep-title {
    display: flex;
    justify-content: center;

    margin: 20px 0 10px 0;

    font-weight: bold;
    font-size: clamp(1rem, 3vw, 2rem);
}

.container-background .sub-container-background .cep .sub-title {
    display: flex;
    justify-content: center;
}

.container-background .sub-container-background .cep .add-cep {
    display: flex;
    justify-content: center;
}

.container-background .sub-container-background .cep .add-cep #cep {
    height: 20px;

    border-radius: 0.25rem;

    color: var(--blue-light);
}

.container-background .sub-container-background .cep .add-cep #erroMessage{
    color: red;
}

.hidden {
    display: none;
}

.container-background .sub-container-background .cep .corfim-cep {
    display: flex;
    justify-content: center;
}

.container-background .sub-container-background .cep .corfim-cep #submit-cep {
    width: 70px;
    height: 30px;

    background: var(--green);
    color: var(--white);

    border-radius: 0.25rem;
    margin: 1rem 0;
}
/*FIM MODAL CEP*/

/********Modal Header********/
.menu {
    width: clamp(30px, 6vw ,40px);
    height: 5px;

    background-color: var(--white-grey);

    position: absolute;
    top: 50%;
    right: 10%;

    transition: transform 0.5s ease-in-out;

    display: none;
    cursor: pointer;
}

.menu::before, .menu::after {
    content: "";
    width: clamp(30px, 6vw ,40px);
    height: 5px;

    position: absolute;

    transition: transform 0.5s ease-in-out;

    background-color: var(--white-grey);
}

.menu::before {
    transform: translateY(-10px);
}

.menu::after {
    transform: translateY(10px);
}
/********Fim Modal Header********/


/*MODAL LOGIN*/
.modal-login {
    visibility: hidden;
    opacity: 0;
}

.modal-login.on {
    visibility: visible;
    opacity: 1;
}

.modal-login .modal-sub-login {
    position: absolute;
    top: auto;
    right: auto;
    z-index: 99;
}

.modal-login .modal-sub-login {
    background-color: black;

    border-radius: 0.25rem;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-login .modal-sub-login::after {
    content: '';

    width: 0;
    height: 0;

    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;

    top: -9px;
    left: 20%;
}

.modal-login .modal-sub-login button{
    color: white;
    cursor: pointer;

    background-color: inherit;
}

/*===========================
Menu Header
============================*/
@media (max-width: 1200px) {
    .menu {
        display: flex;
    }  
    
    header .nav-container-top.on .menu {
        top: 10%;
        
        transform: translateX(-50px);
        background-color: transparent;
    }
    
    header .nav-container-top.on .menu::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    header .nav-container-top.on .menu::after {
        /* background: transparent; */
        transform: rotate(-45deg) translate(35px, 35px);
    }
}