<link rel="stylesheet" href="styles/pages/footer.css">

<footer>
    <section class="conheca">
        <h2 class="conheca-title">Conheça-nos</h2>
        <div class="conheca-text">
            <p>Informações corporativas</p>
            <p>Carreiras</p>
            <p>Comunicados à imprensa</p>
            <p>Comunidade</p>
        </div>
    </section>
    
    <section class="afiliados">
        <h1 class="afiliados-logo">Dev.compras</h1>
        <p class="afiliados-text">Austrália | Alemanha | Canadá | China | Cingapura | Espanha | Estados Unidos | França | Holanda | Índia | Itália | Japão | México | Emirados Árabes | Unidos Reino | Unido Turquia</p>
    </section>

    <section class="termos">
        <p class="condicoes">Condições de Uso Notificação de Privacidade | Cookies ©2021, DevCompras.com</p>
        <p class="cnpj">DevCompras Serviços de Varejo do Brasil Ltda. | CNPJ 15.436.940/0001-03</p>
        <p class="location">Av. Coelho de Resende, nº 07 - Piauí | Fale conosco</p>
        <p class="cards">Formas de pagamento aceitas: cartões de crédito (Visa, MasterCard, Elo e American Express) e boleto.</p>
    </section>
</footer>