* {
    border: 0;
    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
}
html {
    --white: white;
    --white-light: #f2f2f2;
    --white-grey: #e5e5e5;
    --grey-grey: #dedcd7;
    --grey-black: #a09e98;
    --blue: #14213d;
    --blue-dark: #0a1a3b;
    --blue-light: #007185;
    --red: #e76f51;
    --green: #2b9348;
}

a {
    text-decoration: none;
    color: var(--white-grey);
}

input {
    outline: none;
}

li {
    list-style: none;
}

header,
footer {
    background-color: var(--blue);
}

.hidden {
    display: none;
}