body {
    background-color: var(--white-grey);
}


/*MAIN===========================*/
main .carrossel {
    overflow: hidden;
}

main .carrossel img {
    width: 100%;

    margin-bottom: 1rem;
}

main .container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.card-background{
    background-color: var(--white);

    margin-bottom: 2rem;
    padding: 1rem 0;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}


.card-header {
    display: flex;
    justify-content: center;

    color: var(--blue-light);

    padding-bottom: 1rem;
}

.card-sub-background {
    width: 100%;
}

.card-body {
    margin: 0 1rem;
}

.card-sub-background .card-body.games {
    display: flex;
}

.card-body.games .images {
    display: initial;
}

.images{
    width: 200px;

    display: flex;
    margin: 0 auto;
}

.prices, .desconto {
    color: var(--blue-light);
}

/*=================================
responsive
=================================*/

@media (max-width: 780px) {
    main .container-card {
        display: flex;
        flex-flow: column;
    }

    .card-body.games .images {
        margin: 1rem auto;
    }
}

@media (max-width: 695px){
    .card-sub-background .card-body.games {
        flex-direction: column;
    }
}